.color-background {
  background-color: rgb(213, 211, 247);
  background-image: url(https://t4.ftcdn.net/jpg/04/59/21/27/360_F_459212754_qmjGKlcdFTf7SY4yLjauilF75KRFaqhc.jpg);
  background-size: cover;
}

.card-title.h5 {
  color: white;
}

p.card-text {
  color: white;
}

.card.body {
color: firebrick;
}
.card-background {
  background-color: aqua;
  background-image: url(https://t4.ftcdn.net/jpg/00/93/95/05/240_F_93950529_mr8txpRu4kE1kLasCFciHKuKaiTFMFOz.jpg);
  background-size: cover;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}