body {
  background-image: url(https://media.istockphoto.com/id/1208368568/photo/dramatic-sunset-and-sunrise-sky-nature-background-with-white-clouds.jpg?s=612x612&w=0&k=20&c=mu12e5RAWbRKShGqpuRtNJHN7ZXHiohsmSBFbUXchT4=);
  background-size: cover;
}

.color-background {
  background-color: rgb(213, 211, 247);
  background-image: url(https://cdn.theatlantic.com/thumbor/i9jH00gdQ3Lov_7DI2xDujaTwQQ=/845x470:2635x1477/1600x900/media/img/mt/2016/03/RTX283V4/original.jpg);
  background-size: cover;
}

.card-title.h5 {
  color: white;
}

p.card-text {
  color: white;
}

.card.body {
  color: firebrick;
}

.card-background {
  background-color: aqua;
  background-image: url(https://media.istockphoto.com/id/597963092/photo/graduated-twilight-horizon-sky.jpg?s=612x612&w=0&k=20&c=ccA7fV5sWCx9DBf3NTe5iuoCQFvHsf4U3KKqazyWlD4=);
  background-size: cover;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}